
/* ============== Head of categories ============== */

.head-section {
  display: flex;
  max-width: 100%;

  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.categories-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.categories-list {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.categories-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.0625;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  margin: 16px 0;
}

.back {
  margin-right: 40px;
}

.categories-link {
  padding: 20px 0;
}

/* ============== Categories body ================ */

.store-section {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.store-container {
  padding: 62px 0;
  margin-bottom: 512px;
}

.store-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image {
  margin-bottom: 16px;
}

.text-categories {
  font-size: 16px;
  line-height: 1.0625;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
}

.brand {
  font-weight: 500;
}

.i {
  margin-left: 30%;
}

.small-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21429;
  text-transform: uppercase;
  color: #000;
}

/* ================ Footer ================== */

.bottom-container-categories {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.sub .wrapper {
  display: block;
  max-width: 692px;
  margin-left: 0;
  margin-bottom: 70px;
}

.bottom-wrapper {
  display: flex;
}

.bottom-categories {
  display: flex;
  max-width: 1200px;
  padding: 24px 0;
  margin-right: auto;
}

.bottom-list-categories {
  display: flex;
  gap: 24px;
}

.bottom-item-categories {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.41667;
  text-transform: uppercase;
  color: #000;
}

.sign-container-categories {
  display: flex;
  padding: 24px 0;
}